/* 1.==================顶部================== */
/* 顶部外层容器 */
.topbar {
    height: 28px;
    background-color: #101010;
}
/* 顶部里层容器 */
.topbar .container {
    height: 28px;
    background-color: #101010;
}
/* 里面的p标签 */
.topbar .container p {
    height: 28px;
    line-height: 28px;
    color: #f1f1f1;
}
/* 第一个p标签 */
.topbar .container p:first-child {
    text-indent: 210px;
}
/* 第一个p标签下面的a标签 */
.topbar .container p:first-child a {
    color:#fff;
    text-decoration: none;   
}
/* 第二个p标签 */
.topbar .container p:nth-child(2) {
    margin-right: 10px;
}
/* 第二个p标签下面的标题和注册 */
.topbar .container p:nth-child(2) a:not(.login) {
    color: #ff6700;
}
/* 第二个p标签下面的登录 */
.topbar .container p:nth-child(2) .login {
    color: #fff;
}
/* 2.=====================导航============================ */
.nav{
    height: 80px;
    background-color:#fff;
}
/* 搜索购物订单大容器 */
.nav .search-shopcart-order{
    margin-top: 5px;
    height: 35px;
}
/* 搜索框 */
.nav .search-shopcart-order .search-input{
     margin-right: 38px;
    margin-top: 5px; 
    width: 440px;
    height: 35px;
    background-color: #ff6700;
    position: relative;
}
/* 搜素框中的图标span */
.nav .search-shopcart-order .search-input span{
    display: inline-block;
    width: 50px;
    height: 35px;
    position: absolute;
    right: 0;
    top:0 ;
    background-image: url('../img/bgicon.png');
    
}
/* 搜索框 */
.nav .search-shopcart-order .search-input .search {
    width: 390px;
    height: 31px;
    border: 2px solid #ff6700;
    text-indent: 10px;
    color: #333;
    outline: none;
}
/* 购物车和订单 */
.nav .search-shopcart-order .showcart-order {
    margin-top: 5px; 
    width: 200px;
    height: 35px;
    background-color:pink;
    font-size: 0;
}
/* 购物车订单按钮 */
.nav .search-shopcart-order .showcart-order button {
    width: 100px;
    height: 35px;
    background-color:#ebebeb;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #333;
}
/* 购物车图标 */
.nav .search-shopcart-order .showcart-order button:nth-child(1) {
    background-color: #ff6700;
    color: #fff; 
    background-image: url('../img/bgicon.png');
    background-position: -6px -44px;
}
/* .nav .search-shopcart-order .showcart-order button:nth-child(1) {
    background-color: #ff6700;
    color: #fff; 
}
.nav .search-shopcart-order .showcart-order button:nth-child(1) span:first-child {
    background-color: green;
    background-size: 20px 20px;
    background-image: url('../ch2/img/bgicon.png');
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 16px;
    margin-right: 3px;
}
.nav .search-shopcart-order .showcart-order button:nth-child(1) span:nth-child(2) {
    vertical-align: top;
    display: inline-block;   
}
.nav .search-shopcart-order .showcart-order button:nth-child(1) span:nth-child(3) {
    vertical-align: top;
    display: inline-block;
    width: 20px;
    margin-left: 15px;
} */
/* 分类导航 */
.nav .category-menu{
    margin-top: 15px;
    height: 30px;
}
 .nav .category-menu .left-logo {
    width: 200px;
    height: 30px;
    /* background-color: green; */
    position: relative;
} 
.nav .category-menu .left-logo img {
    position: absolute;
    top: -83px;
    bottom: 0;
    left: 0;
}
.nav .category-menu ul {
    width: 1000px;
    height: 30px;
} 
.nav .category-menu ul li {
    float: left;
    height: 30px;
    line-height: 30px;
    width: 80px;
    color: #333;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
}






/*================ 放大镜================ */
.product-detail {
    height: 500px;
    margin: 50px auto;
}
.product-detail .left-box {
    width: 340px;
    height: 470px;
    background-color: #fcfcfc;
}
.product-detail .right-box {
    width: 800px;
    height: 500px;
    background-color: pink;
}
.magnifier-container {
    height: 300px !important;
}



/* 11.=================尾部================= */
.footer{
    height: 500px;
    margin-top: 34px;
}
 /* .footer .top{
    width: 1470px;
    height: 40px;
    line-height: 40px;
    background-color:#fff;
    border-bottom: 6px solid #ff6700;
    margin-top: 10px;
} */
.footer .top-box{
    height: 75px;
    background-color: #ccc;
}
.footer .top-box ul{
    height: 75px;
    /* width: 1200px; */
}
.footer .top-box ul li{
    height: 45px;
    width: 100px;
    float: left;
    line-height: 45px;
    margin-left: 240px;
    margin-top: 15px;
}
#nav{
    text-decoration:none;
    color: #fff;
    width:1000px;
    height:195px;
}
#nav td a{
    text-decoration:none;
    color: #333;
    text-align:center;
}
#nav td a:hover{
    text-decoration:none;
    color:#F30;
}
.footer .mit .sol{
    margin-top: 100px;
    height: 2px;
}
.footer .mit .sol span{
    margin-left: 30px;
}
.footer .mit .sol span a{
    color: black;
    text-decoration: none;
    text-align: center;
}
.footer .mit .sol span a:hover{
    color: red;
}
.footer .pri img{
    float: right;
    margin-top: -280px;
    width: 150px;
    margin-right: 195px;
}
