@font-face {
  font-family: "iconfont"; /* Project id 3066259 */
  src: url('iconfont.woff2?t=1640578459148') format('woff2'),
       url('iconfont.woff?t=1640578459148') format('woff'),
       url('iconfont.ttf?t=1640578459148') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-banxing:before {
  content: "\e614";
}

.icon-star-full:before {
  content: "\e9a1";
}

